@import "../../node_modules/antd/lib/style/themes/default.less"; // // Prefix

//Color
@background-color-base: #fff;
@dark-half: #494949;
@purple: #d897eb; // Shadow
@shadow-1: 4px 4px 20px 0 rgba(0,0,0,0.01);
@shadow-2: 4px 4px 40px 0 rgba(0,0,0,0.05); //transition
@transition-ease-in: all 0.3s @ease-in;
@transition-ease-out: all 0.3s @ease-out; //mix

// 金融产品手册使用颜色变量
@title-orange: #ed7018;
@table-yellow: #fff9eb;
@showAll-text: #fdc24f;
@content-text: #333333;
@border-gray: #e6e6e6;



/*
  How to use mixin
  1. @import variables.less
  2. add classname ()

  example
  .button {
    .text-overflow()
  }
*/
.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// 文字左侧图标
.left-icon (@url) {
  background: url(@url) no-repeat right center;
  content: "";
  background-size: contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 17px;
}

